.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

body {
	font-family: OpenSans, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	background-color: $white;
	// box-shadow: 1000px 0 0 0 $black;
	// overflow: hidden;
}

.scroll-off {
	overflow: hidden;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.logo {
	outline: transparent;
	transition: opacity 0.3s ease;
}

.logo:hover {
	opacity: 0.7;
}

.logo:active {
	opacity: 0.5;
}