.header {
  color: $white;


  &__top {
    padding: 15px 0;
    color: $white;
    text-transform: uppercase;
    background-color: $dark-800;

		@include mq(tablet, max) {
			padding: 5px 0;
		}
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

	&__burger {
		display: none;

		@include mq(tablet, max) {
			display: block;
			padding: 0;
			border: none;
			width: 30px;
			height: 20px;
			background-color: transparent;

			svg {
				fill: black;
			}
		}
	}

  &__support {
    display: flex;
		flex-wrap: wrap;
		max-width: 500px;
  }

  &__contact:not(:last-child) {
    margin-right: 50px;

		@include mq(tablet, max) {
			margin-right: 30px;
		}
  }

	&__link {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;

		&--image {
			padding: 5px 45px;
			padding-right: 0;
			background-repeat: no-repeat;
			background-position: 0 50%;

			@include mq(tablet, max) {
				padding: 0;
				display: block;
				width: 35px;
				height: 35px;
				background-position: center;
			}
		}
		
		&--truck {
			background-image: url('../images/favicons/header/truck-fav.svg');
			@include mq(tablet, max) {
			}
		}
		
		&--phone {
			background-image: url('../images/favicons/header/tel-fav.svg');
		}
	}

	&__link-text {
		@include mq(tablet, max) {
			@include sr-only();
		}
	}

  &__nav-list {
    display: flex;
		flex-wrap: wrap;
		max-width: 530px;

		@include mq(tablet, max) {
			display: none;
		}
  }

  &__nav-item {
		&:not(:last-child) {
    	margin-right: 25px;
		}
  }

  &__bottom {
		position: relative;
    padding: 25px 0;
    background-color: $green-900;

		@include mq(tablet, max) {
			padding: 10px 0;
		}
  }

  &__logo {
    margin-right: 25px;
  }

	&__logo-svg {
		fill: $white;

		@include mq(tablet, max) {
			display: none;
		}
	}

	&__logo-svg--mobile {
		display: none;

		@include mq(tablet, max) {
			fill: $white;
			display: block;
		}
	}

  &__catalog {
    margin-right: 30px;
  }

  &__form {
    max-width: 575px;
    flex-grow: 1;
    margin-right: auto;

		@include mq(tablet-3, max) {
			display: none;
		}

		&--active {
			position: absolute;
			z-index: 1;
			display: flex;
			top: 100%;
			left: 0;
			right: 0;
			max-width: 100%;
			border: 1px solid $black;
		}
  }

  &__user-nav{
    display: flex;
    align-self: center;
  }

  &__user-link {  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    outline: transparent;
    transition: background-color 0.3s ease, outline-color 0.3s ease;

		@include mq(tablet, max) {
			align-items: center;
			width: 40px;
			height: 40px;
		}

		&--search {
			display: none;
			border: none;
			padding: 0;
			background-color: transparent;

			@include mq(tablet-3, max) {
				display: flex;
			}
		}

		&--person {
			@include mq(tablet, max) {
				display: none;
			}
		}
		
    svg {
      fill: $white;
      transition: fill 0.3s ease;

			@include mq(tablet, max) {
				width: 24px;
				height: 24px;
			}
    }

		&:hover {
			background-color: $green-400;
		}
	
		&:focus {
			outline: 3px solid $green-200;
		}
	
		&:active {
			color: rgba($white, 0.5);
			outline: transparent;
			box-shadow: inset 0px 4px 4px rgba($black, 0.25);

			svg {
				fill: rgba($white, 0.5);
			}
		}
  }

  &__user-item {
		&:not(:last-child) {
			margin-right: 10px;
		}

		@include mq(tablet, max) {
			&--person {
				display: none;
			}
		}
	}

  &__notification {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
		max-width: 100%;
    height: 20px;
		padding: 0 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    border-radius: 10px;
    background-color: $white;
    color: $red-900;

		&--disabled {
			display: none;
		}
  }
	
	&__notification-count {
		word-wrap: break-word;
		@include text-cut(1);
	}
}


.catalog {
  position: relative;

	@include mq(tablet-3, max) {
		margin-right: auto;
	}

	@include mq(tablet, max) {
		display: none;
	}

  &__button {
    position: relative;
    padding: 15px 40px 15px 60px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $green-900;
    background-color: $white;
    background-image: url(../images/favicons/header/catalog-button-lines.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
		
		&--active {
			background-color: $green-200;
			border-radius: 6px 6px 0 0;
		}
	
		&::after {
			@include pseudo(absolute, inherit, '');
			top: 50%;
			transform: translateY(-50%);
			right: 20px; 
			width: 10px;
			height: 20px;
			background-image: url('../images/favicons/header/catalog-button-arrow.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transition: transform 0.3s ease;
		}
	
		&--active::after {
			transform: translateY(-50%) rotate(-180deg);
			background-color: $green-200;
		}
	
		&:active, &:hover  {
			background-color: $green-200;
		}
  }

	// &__button-span {
	// 	@include mq(tablet-3, max) {
	// 		// display: none;
	// 	}
	// }

  &__menu {
    position: absolute;
		z-index: 1;
    left: 0;
    right: 0;
    border: 1px solid $silver-300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $black;
    background-color: $white;
  }

  &__item {
    border-bottom: 1px solid $silver-300;

		&:last-child {
			border-bottom: none;
		}
  }


  &__link {
    display: block;
    padding: 15px 20px;
    
    outline-color: transparent;
    transition: outline-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

		&:hover {
			color: $green-900;
			box-shadow: inset 2px 0 0 0px $green-900;
		}
	
		&:focus {
			box-shadow: inset 0 0 0 2px $green-200;
		}
	
		&:active {
			color: $silver-600;
			box-shadow: none;
			outline: transparent;
		}
  }


  &__menu--disable {
    display: none;
  }
}

