.navigation {
	padding: 25px 0;
	font-size: 0.875rem;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: $dark-500;
	background-color: $silver-100;

	&__path {
		display: flex;
		justify-content: flex-start;
		gap: 5px;
	}

	&__dir {
		border-radius: 3px;
		transition: outline-color 0.3s ease;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&--catalog {
			position: relative;

			&::before {
				@include pseudo();
				top: 50%;
				left: -10px;
				transform: translateY(-50%);
				width: 6px;
				height: 10px;
				background-image: url("../images/favicons/navigation/chevron.svg");
				background-repeat: no-repeat;
				background-position: 0 center;
				outline-color: transparent;
			}
		}

		&:focus {
			outline: 3px solid $green-900;
		}

		&:active {
			color: $black;
		}
	}
}


