.top {
	padding-top: 70px;
	padding-bottom: 5px;

	&--promotions {
		padding-bottom: 70px;
		background-color: $silver-100;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__filter {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 25px;
		margin-bottom: 50px;
	}

	&__btn {
		padding: 0;
		border: none;
		background-color: transparent;
		font-weight: 700;
		font-size: 15px;
		line-height: 1.4;
		text-transform: uppercase;
		color: $dark-500;
		outline: transparent;
		transition: outline-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
	}

	&__btn:hover {
		color: $green-900;
	}

	&__btn:focus {
		outline: solid 3px $green-200;
	}

	&__btn:active {
		box-shadow: 0px 3px 0px 0px $green-200;
		outline: transparent;
	}

	&__cards {
		align-self: baseline;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 30px;
		margin-bottom: 50px;
	}

	&__button {
		margin: 0 auto ;
	}
}