.top {
	padding-top: 70px;
	padding-bottom: 5px;

	&--promotions {
		padding-bottom: 70px;
		background-color: $silver-100;

		@include mq(tablet-2, max) {
			padding-bottom: 50px;
		}
	} 

	@include mq(tablet-2, max) {
		padding-top: 50px;
	}

	&__title {
		margin-bottom: 30px;

		@include mq(tablet-2, max) {
			margin-bottom: 20px;
		}
	}

	&__filter {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 25px;
		margin-bottom: 50px;

		@include mq(tablet-2, max) {
			margin-bottom: 25px;
		}

		@include mq(tablet-2, max) {
			row-gap: 10px;
		}
	}

	&__btn {
		padding: 0;
		border: none;
		background-color: transparent;
		font-weight: 700;
		font-size: 15px;
		line-height: 1.4;
		text-transform: uppercase;
		color: $dark-500;
		outline: transparent;
		transition: outline-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

		&:hover {
			color: $green-900;
		}
	
		&:focus {
			outline: solid 3px $green-200;
		}
	
		&:active {
			box-shadow: 0px 3px 0px 0px $green-200;
			outline: transparent;
		}
	}

	// &__cards {
	// 	align-self: baseline;
	// 	display: grid;
	// 	grid-template-columns: repeat(4, 1fr);
	// 	height: 100%;
	// 	gap: 30px;
	// 	margin-bottom: 50px;

	// 	@include mq(tablet-3, max) {
	// 		gap: 15px;
	// 	}

	// 	@include mq(tablet-2, max) {
	// 		margin-bottom: 25px;
	// 	}

	// 	@include mq(tablet, max) {
	// 		grid-template-columns: repeat(3, 1fr);
	// 	}

	// 	@include mq(phone, max) {
	// 		grid-template-columns: repeat(2, 1fr);
	// 	}
	// }

	&__cards {
		align-self: baseline;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		height: 100%;
		gap: 30px;
		margin-bottom: 50px;

		@include mq(tablet-3, max) {
			gap: 15px;
		}

		@include mq(tablet-2, max) {
			margin-bottom: 25px;
		}

		@include mq(tablet, max) {
			grid-template-columns: repeat(3, 1fr);
			gap: 5px;
		}

		@include mq(phone, max) {
			grid-template-columns: repeat(2, 1fr);
		}

		&--promotions {
			
			@include mq(desktop-1, max) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include mq(tablet-2, max) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include mq(tablet, max) {
				grid-template-columns: 1fr;
				gap: 15px;
				margin-bottom: 20px;
			}
		}
	}

	&__link {
		display: block;
		cursor: pointer;
	}

	&__button {
		margin: 0 auto;
	}
}