<section class="news">
	<div class="container container--mobile">
		<div class="news__top">
			<h2 class="title">Наши новости</h2>
			<a class="news__all" href="#">Все новости</a>
		</div>

		<ul class="news__list">
			<li class="news__item">
				<a class="news__link" href="#" style="background-image:url('images/images/news/strawberry.jpg')">
					<div class="news__date">
						<div class="news__month">июль</div>
						<div class="news__day">15</div>
					</div>

					<p class="news__name">
						Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
						разобрали!
					</p>
				</a>
			</li>

			<li class="news__item">
				<a class="news__link" href="#" style="background-image:url('images/images/news/mango.jpg')">
					<div class="news__date">
						<div class="news__month">май</div>
						<div class="news__day">07</div>
					</div>

					<p class="news__name">
						Шикарнейший выбор манго в нашем онлайн-маркете
					</p>
				</a>
			</li>

			<li class="news__item">
				<a class="news__link" href="#" style="background-image:url('images/images/news/papaya.jpg')">
					<div class="news__date">
						<div class="news__month">Февраль</div>
						<div class="news__day">20</div>
					</div>
					
					<p class="news__name">
						Всё, что вы хотели знать о папайя
					</p>
				</a>
			</li>
		</ul>
	</div>

</section>