<section class="promo">
	<h2 class="sr-only">Актуальные акции</h2>

	<ul class="promo__wrapper">
		<li class="promo__slide" style="background-image: url('../images/images/promo/carrot2.jpg');">

			<div class="container container--promo">
				<div class="promo__inner">
					<h3 class="promo__title">
						СВЕЖАЧОК ВАМ в ХАТУ
						<br>
						<span class="promo__subtitle">
							Скидка -50%
						</span>
					</h3>

					<p class="promo__terms">
						Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
					</p>
					<a class="promo__button button outline">Купить сейчас</a>
				</div>
			</div>
		</li>

		<li class="promo__slide" style="background-image: url('../images/images/promo/tomato2.jpg');">

			<div class="container container--promo">
				<div class="promo__inner">
					<h3 class="promo__title">
						НАКРУТИ СЕБЕ ТОМАТОВ
						<br>
						<span class="promo__subtitle">
							АКЦИЯ: 3 кг по цене 1
						</span>
					</h3>

					<p class="promo__terms">
						Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
					</p>
					<a class="promo__button button outline">Купить сейчас</a>
				</div>
			</div>
		</li>

		<li class="promo__slide" style="background-image: url('../images/images/promo/green2.jpg');">

			<div class="container container--promo">
				<div class="promo__inner">
					<h3 class="promo__title">
						Пусть остальные
						позеленеют от зависти
						<br>
						<span class="promo__subtitle">
							Распродажа зелени
						</span>
					</h3>
					<p class="promo__terms">
					</p>
					<a class="promo__button button outline">Купить сейчас</a>
				</div>
			</div>
		</li>
	</ul>

	<div class="promo__pagination">
		
	</div>

	<button class="promo__arrow promo__arrow--prev" type="button">
		<span class="sr-only">Предыдущий
			слайд</span>
		<svg width="20" height="32" viewBox="0 0 20 32" fill="#505050" xmlns="http://www.w3.org/2000/svg">
			<use xlink:href="images/stack/sprite.svg#promo--arrow-left" data-action="toggleCart"></use>
		</svg>
	</button>

	<button class="promo__arrow promo__arrow--next" type="button">
		<span class="sr-only">Следующий
			слайд</span>
		<svg width="20" height="32" viewBox="0 0 20 32" fill="#505050" xmlns="http://www.w3.org/2000/svg">
			<use xlink:href="images/stack/sprite.svg#promo--arrow-right
			" data-action="toggleCart"></use>
		</svg>
	</button>

</section>