<section class="top top--promotions">
	<div class="container container--mobile container--promotions" data-ref="container-2">
		<h2 class="top__title title">Акции</h2>

		<ul class="top__filter">
			<li class="top__category">
				<button class="top__btn" data-filter="all" type="button">
					Все товары
				</button>
			</li>

			<li class="top__category" data-filter=".new">
				<button class="top__btn" type="button">
					Новинки
				</button>
			</li>

			<li class="top__category" data-filter=".hit">
				<button class="top__btn" type="button">
					Хиты</button>
			</li>
		</ul>

		<ul class="top__cards top__cards--promotions">
			<li class="top__card mix new">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/pineapple.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--new">Новинка</li>
					</ul>

					<div class="smallcard__inner">
						<h3 class="smallcard__name">
							Ананас, 1кг
						</h3>

						<div class="smallcard__state">В наличии</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price ">999<span class="smallcard__ruble">₽</span></li>
								<li class="smallcard__price smallcard__price--previous"><span>1999 ₽</span></li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>4.6</div>

						</div>
					</div>
				</a>
			</li>

			<li class="top__card mix new">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/coffee.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--new">Новинка</li>
					</ul>

					<div class="smallcard__inner">
						<h3 class="smallcard__name">
							<span class="smallcard__name-link">
								Кофе с коноплей органический Caffé Salomoni 250г
							</span>
						</h3>

						<div class="smallcard__state smallcard__state--ends">Заканчивается</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price">777<span class="smallcard__ruble">₽</span></li>
								<li class="smallcard__price smallcard__price--previous smallcard__price--mini"><span>877 ₽</span></li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>4.9</div>

						</div>
					</div>
				</a>
			</li>

			<li class="top__card mix new">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/strawberry.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--new">Новинка</li>
					</ul>

					<div class="smallcard__inner">
						<h3 class="smallcard__name">
							<span class="smallcard__name-link">Клубника, 1 кг</span>
						</h3>

						<div class="smallcard__state smallcard__state--absent">Нет в наличии</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price">440<span class="smallcard__ruble">₽</span></li>
								<li class="smallcard__price smallcard__price--previous smallcard__price--mini"><span>600 ₽</span></li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>5.0</div>

						</div>
					</div>
				</a>
			</li>

			<li class="top__card mix new">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/mango.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--new">Новинка</li>
					</ul>

					<div class="smallcard__inner smallcard__inner--small">
						<h3 class="smallcard__name">
							<span class="smallcard__name-link">Манго, 1 шт</span>
						</h3>

						<div class="smallcard__state">В наличии</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price">660<span class="smallcard__ruble">₽</span></li>
								<li class="smallcard__price smallcard__price--previous smallcard__price--mini"><span>960 ₽</span></li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>5.0</div>

						</div>
					</div>
				</a>
			</li>

			<li class="top__card mix new">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/salmon.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--new">Новинка</li>
					</ul>

					<div class="smallcard__inner">
						<h3 class="smallcard__name">
							<span class="smallcard__name-link">Лосось, 1 кг</span>
						</h3>

						<div class="smallcard__state">В наличии</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price">999<span class="smallcard__ruble">₽</span></li>
								<li class="smallcard__price smallcard__price--previous smallcard__price--mini"><span>1199 ₽</span>
								</li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>4.6</div>

						</div>
					</div>
				</a>
			</li>

			<li class="top__card mix hit">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/juice.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--hit">Хит</li>
					</ul>

					<div class="smallcard__inner">
						<h3 class="smallcard__name">
							<span class="smallcard__name-link">Сок Granini овощной 100%, 0.5л</span>
						</h3>

						<div class="smallcard__state smallcard__state--ends">Заканчивается</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price">180<span class="smallcard__ruble">₽</span></li>
								<li class="smallcard__price smallcard__price--previous smallcard__price--mini"><span>230 ₽</span></li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>4.9</div>

						</div>
					</div>
				</a>
			</li>

			<li class="top__card mix hit">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/basket.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--hit">Хит</li>
					</ul>

					<div class="smallcard__inner">
						<h3 class="smallcard__name">
							<span class="smallcard__name-link">Фруктовая корзина, 1 шт</span>
						</h3>

						<div class="smallcard__state">В наличии</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price">3999<span class="smallcard__ruble">₽</span></li>
								<li class="smallcard__price smallcard__price--previous smallcard__price--mini"><span>1999 ₽</span>
								</li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>4.8</div>

						</div>
					</div>
				</a>
			</li>

			<li class="top__card mix hit">
				<a class="top__link smallcard" href="#">
					<img class="smallcard__img" src="images/goods/s-m/pork.jpg" alt="Ананас" width="100" height="100">

					<ul class="smallcard__promos">
						<li class="smallcard__promo smallcard__promo--hit">Хит</li>
					</ul>

					<div class="smallcard__inner">
						<h3 class="smallcard__name">
							<span class="smallcard__name-link">Свинина мякоть, 1 кг</span>
						</h3>

						<div class="smallcard__state">В наличии</div>

						<div class="smallcard__payment">
							<ul class="smallcard__prices">
								<li class="smallcard__price">499₽</li>
								<li class="smallcard__price smallcard__price--previous smallcard__price--mini"><span>599 ₽</span></li>
							</ul>

							<div class="smallcard__rating"><span class="sr-only">Рейтинг товара</span>4.6</div>

						</div>
					</div>
				</a>
			</li>
		</ul>

		<button class="top__button button" type="button">Показать еще</button>
	</div>
</section>