<section class="top">
	<div class="container" data-ref="container-1">
		<h2 class="top__title title">Топовые товары</h2>

		<ul class="top__filter">
			<li class="top__category">
				<button class="top__btn" data-filter="all" type="button">
					Все товары
				</button>
			</li>

			<li class="top__category" data-filter=".fruits">
				<button class="top__btn" type="button">
					Фрукты</button>
			</li>

			<li class="top__category" data-filter=".vegetables">
				<button class="top__btn" type="button">
					Овощи
				</button>
			</li>

			<li class="top__category" data-filter=".drinks">
				<button class="top__btn" type="button">
					Напитки</button>
			</li>

			<li class="top__category" data-filter=".grocery">
				<button class="top__btn" type="button">
					Бакалея
				</button>
			</li>
		</ul>

		<ul class="top__cards top__cards--top">
			<li class="top__item  mix fruits">


				<article class="top__card card">
					<ul class="card__promos">
						<li class="card__promo card__promo--new">Новинка</li>
						<li class="card__promo card__promo--sale">-50%</li>
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>

					<a class="card__item" href="#">
						<span class="sr-only">
							Ананас
						</span>
						<img class="card__img" src="images/goods/m/pineapple.jpg" alt="" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Ананас, 1кг</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"><span>1999 ₽</span></li>
								<li class="card__price">999 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-1">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-1" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>

							<button class="card__button button" type="submit">
								<span class="sr-only">
									В корзину
								</span>
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
							</button>
						</form>
					</div>
				</article>
			</li>

			<li class="top__item  mix fruits">
				<article class="top__card card">
					<ul class="card__promos">
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>

					<a class="card__item" href="#">
						<span class="sr-only">
							Лимон, 1кг
						</span>
						<img class="card__img" src="images/goods/m/lemon.jpg" alt="" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Лимон, 1кг</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"></li>
								<li class="card__price">199 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-2">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-2" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>

							<button class="card__button button" type="button">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
								<span class="sr-only">
									В корзину
								</span>
							</button>
						</form>
					</div>
				</article>
			</li>

			<li class="top__item  mix fruits">
				<article class="top__card card mix fruits">
					<ul class="card__promos">
						<li class="card__promo card__promo--hit">Хит</li>
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>

					<a class="card__item" href="#">
						<span class="sr-only">
							Питахайя красная с белой мякотью, 1шт
						</span>
						<img class="card__img" src="images/goods/m/dragonfruit.jpg" alt="Питахайя красная" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Питахайя красная с белой мякотью, 1шт</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"></li>
								<li class="card__price">1019 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-3">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-3" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>
							
							<button class="card__button button" type="button">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
								<span class="sr-only">
									В корзину
								</span>
							</button>
						</form>
					</div>
				</article>
			</li>

			<li class="top__item  mix grocery">
				<article class="top__card card">
					<ul class="card__promos">
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>

					<a class="card__item" href="#">
						<span class="sr-only">
							Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
						</span>
						<img class="card__img" src="images/goods/m/ketchup.jpg" alt="Кетчуп томатный" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"></li>
								<li class="card__price">600 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-4">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-4" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>

							<button class="card__button button" type="button">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
								<span class="sr-only">
									В корзину
								</span>
							</button>
						</form>
					</div>
				</article>
			</li>

			<li class="top__item mix vegetables">
				<article class="top__card card">
					<ul class="card__promos">
						<li class="card__promo card__promo--hit">хит</li>
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>

					<a class="card__item" href="#">
						<span class="sr-only">
							Морковь молодая с бабушкиной грядки
						</span>
						<img class="card__img" src="images/goods/m/carrot.png" alt="Морковь молодая" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Морковь молодая с бабушкиной грядки, 1кг</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"></li>
								<li class="card__price">49 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-5">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-5" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>

							<button class="card__button button" type="button">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
								<span class="sr-only">
									В корзину
								</span>
							</button>
						</form>
					</div>
				</article>
			</li>

			<li class="top__item mix drinks">
				<article class="top__card card">
					<ul class="card__promos">
						<li class="card__promo card__promo--sale">-30%</li>
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>
					
					<a class="card__item" href="#">
						<span class="sr-only">
							Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
							безалкогольный
						</span>
						<img class="card__img" src="images/goods/m/juice.jpg" alt="Напиток сокосодержащий" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный
								апельсин безалкогольн...</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"><span>299 ₽</span></li>
								<li class="card__price">199 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-6">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-6" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>

							<button class="card__button button" type="button">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
								<span class="sr-only">
									В корзину
								</span>
							</button>
						</form>
					</div>
				</article>
			</li>

			<li class="top__item mix drinks">
				<article class="top__card card">
					<ul class="card__promos">
						<li class="card__promo card__promo--new">Новинка</li>
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>

					<a class="card__item" href="#">
						<span class="sr-only">
							Кофе с коноплей органический Caffé Salomoni 250г
						</span>
						<img class="card__img" src="images/goods/m/coffee.jpg" alt="Кофе с коноплей" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Кофе с коноплей органический Caffé Salomoni 250г							
							</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"></li>
								<li class="card__price">877 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-7">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-7" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>

							<button class="card__button button" type="button">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
								<span class="sr-only">
									В корзину
								</span>
							</button>
						</form>
					</div>
				</article>
			</li>

			<li class="top__item mix vegetables">
				<article class="top__card card">
					<ul class="card__promos">
						<li class="card__promo card__promo--new">Новинка</li>
					</ul>

					<button class="card__favorite" type="button" data-action="toggleFavorite">
						<span class="sr-only">
							В избранное
						</span>
						<svg class="card__svg" width="32" height="29" viewBox="0 0 32 29" fill="#C1C1C1"
							xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
							<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>

					<a class="card__item" href="#">
						<span class="sr-only">
							Перец оранжевый
						</span>
						<img class="card__img" src="images/goods/m/paprik.jpg" alt="Перец оранжевый" width="300" height="225">
					</a>

					<div class="card__inner">
						<h3 class="card__name">
							<a class="card__name-link" href="#">Перец оранжевый, 1кг</a>
						</h3>

						<form class="card__payment">
							<ul class="card__prices">
								<li class="card__price card__price--previous"></li>
								<li class="card__price">349 ₽</li>
							</ul>

							<div class="card__control">
								<label class="sr-only" for="good-8">Количество товаров для добавления в корзину</label>

								<button class="card__btn card__btn--subtract" data-action="subtract" type="button">
									<span class="sr-only">Убрать товар</span>
								</button>
								
								<input class="card__input" name="good-count" type="text" id="good-8" value="0">
								
								<button class="card__btn card__btn--add" data-action="add" type="button">
									<span class="sr-only">Добавить товар</span>
								</button>
							</div>

							<button class="card__button button" type="button">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#global--cart-s"></use>
								</svg>
								<span class="sr-only">
									В корзину
								</span>
							</button>
						</form>
					</div>
				</article>
			</li>
		</ul>

		<button class="top__button button button--transparent" type="button">Показать еще</button>
	</div>
</section>