<section class="advertise">
	<div class="container">


		<h2 class="sr-only">Наши акции</h2>

		<ul class="advertise__slides">
			<li class="advertise__slide advertise__slide--light"
				style="background-image: url('images/images/advertise/fruits.jpg');">
				<h3 class="advertise__name">Свежайшие фрукты</h3>
				<p class="advertise__description advertise__description--light">Начни фруктовое лето
					Всего От 99 ₽ </p>
				<a class="advertise__link advertise__link--light" href="#">Перейти к покупкам</a>
			</li>

			<li class="advertise__slide" style="background-image: url('images/images/advertise/vegetables.jpg');">
				<h3 class="advertise__name">Сезонная распродажа</h3>
				<p class="advertise__description advertise__description--short">Овощепад
					ДО -50% </p>
				<a class="advertise__link" href="#">Перейти к покупкам</a>
			</li>

			<li class="advertise__slide" style="background-image: url('images/images/advertise/grocery.jpg');">
				<h3 class="advertise__name">Ням-ням</h3>
				<p class="advertise__description advertise__description--short">Свежий
					хлебчик</p>
				<a class="advertise__link" href="#">Перейти к покупкам</a>
			</li>
		</ul>
	</div>
</section>