<aside class="cart cart--disable" data-action="toggleCart">
	<div class="cart__header">
		<div class="cart__menu">
			<h2 class="cart__title">Корзина</h2>

			<button class="cart__clear" type="button">
				Очистить корзину
			</button>
		</div>

		<button class="cart__close closebutton" data-action="toggleCart" type="button">
			<span class="sr-only">Закрыть корзину</span>
		</button>
	</div>

	<section class="cart__goods">
		<h3 class="sr-only">
			Товары в корзине
		</h3>

		<ul class="cart__list">

			<li class="cart__item">
				<img class="cart__image" src="images/goods/s/pineapple-s.png" alt="Фото продукта">

				<div class="cart__info">
					<h4 class="cart__name">Ананас, 1 кг</h4>
					<div class="cart__price">999₽</div>
				</div>

				<div class="cart__amount">
					<div class="cart__counter">
						<button class="cart__counter-btn cart__counter-btn--subtract" type="button"
							data-action="subtract"></button>

						<span class="cart__count">
							2
						</span>

						<button class="cart__counter-btn cart__counter-btn--add" type="button" data-action="add"></button>
					</div>

					<span class="cart__curr-summary">1998</span>
				</div>
			</li>
		</ul>
	</section>

	<div class="cart__result">
		<span class="cart__text">
			Товаров на сумму
		</span>

		<span class="cart__summary">
			1998₽
		</span>
	</div>

	<button class="cart__checkout" type="button">
		Оформить заказ
	</button>
</aside>