<section class="description">
    <div class="container container--description">


        <nav class="description__nav">
            <ul class="description__nav-list">
                <li class="description__nav-item">
                    <a href="#description" class="description__nav-link description__nav-link--active">
                        Описание

                    </a>
                </li>
                <li class="description__nav-item">
                    <a href="#specs" class="description__nav-link">
                        Характеристики

                    </a>
                </li>
                <li class="description__nav-item">
                    <a href="#reviews" class="description__nav-link">
                        Отзывы
                        <span class="description__reviews-count">2</span>
                    </a>
                </li>
            </ul>
        </nav>

        <ul class="description__content">
            <li id="description" class="description__item descriptioin__item--description">
                <p class="description__text">
                    Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует
                    укреплению иммунной системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ.
                    Оказывает противовоспалительное действие, так как фрукт богат антиоксидантами. При употреблении
                    питахайи, понижается уровень сахара в крови, улучшается зрение и работа сердечно–сосудистой системы.
                    Так
                    как фрукт низкокалорийный и состоит на 90% из воды, способствует снижению веса.
                    <br>
                    Витамины: С, Е, РР, витамины группы В
                    <br>
                    Микроэлементы: железо, калий, кальций, магний, фосфор
                    <br>
                    Внешний вид товара может отличаться от изображений, представленных на сайте.
                </p>
            </li>

            <li id="specs" class="descriptioin__item descriptioin__item--specs">
                <ul class="description__specs">
                    <li class="description__spec-key">Вес:<span class="description__spec-value"> </span></li>
                    <li class="description__spec-key">Калорийность (на 100г): <span class="description__spec-value">50
                            ккал;</span></li>
                    <li class="description__spec-key">Условия хранения: <span
                            class="description__spec-value">температура от
                            +3 до +8;</span></li>
                    <li class="description__spec-key">Другие названия: <span class="description__spec-value">Драконов
                            фрукт,
                            Глаз дракона;</span></li>
                    <li class="description__spec-key">Страна происхождения: <span
                            class="description__spec-value">Вьетнам;</span></li>
                    <li class="description__spec-key">Срок хранения: <span class="description__spec-value">до 5
                            дней.</span>
                    </li>
                </ul>
            </li>

            <li id="reviews" class="description__item descriptioin__item--rewievs">
                <h3 class="description__item-title">Мнения наших клиентов</h3>

                <ul class="description__rewievs">
                    <li class="description__rewiev rewiev">
                        <div class="rewiev__header">

                            <img src="" alt="Аватар пользователя" class="rewiev__avatar">

                            <div class="rewiev__info">
                                <div class="rewiev__name">Андрей</div>
                                <time class="rewiev__date"></time>
                            </div>

                            <div class="rating" aria>
                                <span class="sr-only">Оценка товара</span>

                                <input id="5" class="rating__input sr-only element" type="radio" name="quality"
                                    value="5">
                                <label class="rating__label" for="5" class="rating__label element">
                                    <span class="rating__star">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use class="rating__color" xlink:href="#star"></use>
                                        </svg>
                                    </span>
                                </label>

                                <input id="4" class="rating__input sr-only element" type="radio" name="quality"
                                    value="4">
                                <label class="rating__label" for="4" class="rating__label element">
                                    <span class="rating__star">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use class="rating__color" xlink:href="#star"></use>
                                        </svg>
                                    </span>
                                </label>

                                <input id="3" class="rating__input sr-only element" type="radio" name="quality"
                                    value="3">
                                <label class="rating__label" for="3" class="rating__label element">
                                    <span class="rating__star">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use class="rating__color" xlink:href="#star"></use>
                                        </svg>
                                    </span>
                                </label>

                                <input id="2" class="rating__input sr-only element" type="radio" name="quality"
                                    value="2">
                                <label class="rating__label" for="2" class="rating__label element">
                                    <span class="rating__star">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use class="rating__color" xlink:href="#star"></use>
                                        </svg>
                                    </span>
                                </label>

                                <input id="1" class="rating__input sr-only element" type="radio" name="quality"
                                    value="1">
                                <label class="rating__label" for="1" class="rating__label element">
                                    <span class="rating__star">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use class="rating__color" xlink:href="#star"></use>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <p class="rewiev__content">
                            Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                        </p>
                    </li>
                </ul>

                <h3 class="description__title">Оставить отзыв</h3>

                <form action="" class="description__form">
                    <fieldset class="description__fieldset">
                        <legend class="sr-only">Ваш отзыв</legend>

                        <fieldset class="rating" aria>
                            <legend class="sr-only">Оценка товара</legend>

                            <input id="5" class="rating__input sr-only element" type="radio" name="quality" value="5">
                            <label class="rating__label" for="5" class="rating__label element">
                                <span class="rating__star">
                                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <use class="rating__color" xlink:href="#star"></use>
                                    </svg>
                                </span>
                            </label>

                            <input id="4" class="rating__input sr-only element" type="radio" name="quality" value="4">
                            <label class="rating__label" for="4" class="rating__label element">
                                <span class="rating__star">
                                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <use class="rating__color" xlink:href="#star"></use>
                                    </svg>
                                </span>
                            </label>

                            <input id="3" class="rating__input sr-only element" type="radio" name="quality" value="3">
                            <label class="rating__label" for="3" class="rating__label element">
                                <span class="rating__star">
                                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <use class="rating__color" xlink:href="#star"></use>
                                    </svg>
                                </span>
                            </label>

                            <input id="2" class="rating__input sr-only element" type="radio" name="quality" value="2">
                            <label class="rating__label" for="2" class="rating__label element">
                                <span class="rating__star">
                                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <use class="rating__color" xlink:href="#star"></use>
                                    </svg>
                                </span>
                            </label>

                            <input id="1" class="rating__input sr-only element" type="radio" name="quality" value="1">
                            <label class="rating__label" for="1" class="rating__label element">
                                <span class="rating__star">
                                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <use class="rating__color" xlink:href="#star"></use>
                                    </svg>
                                </span>
                            </label>
                        </fieldset>

                        <ul class="description__textinputs">
                            <li class="description__textinput">
                                <label for="rewiev">Ваш отзыв *</label>
                                <textarea name="rewiev" id="rewiev" cols="30" rows="10"
                                    placeholder="Введите текст отзыва">
                            </textarea>
                            </li>

                            <li class="description__textinput">
                                <label for="name">Имя</label>
                                <input type="text" name="name" id="name" placeholder="Введите ваше имя">

                            </li>

                            <li class="description__textinput">
                                <label for="email">Email *</label>
                                <input type="email" name="email" id="email" placeholder="youremail@mail.com">
                            </li>


                        </ul>

                        <button class="description__form-btn button" type="submit">
                            Оставить отзыв
                        </button>
                    </fieldset>



                </form>
            </li>
        </ul>
    </div>
</section>