<footer class="footer">
	<div class="footer__row">

		<div class="container">
			<a class="logo footer__logo" href="#">
				<svg class="logo__svg" width="200" height="60" role="img" aria-label="Логотип сайта">
					<use class="logo__use" xlink:href="images/stack/sprite.svg#logo"></use>
				</svg>
			</a>

			<div class="footer__inner">
				<form class="footer__subscription">
					<label class="footer__label" for="email">Следите за нашими акциями</label>

					<div class="footer__form form">
						<input class="form__input form__input--subscribe" id="email" type="email" name="email"
							placeholder="Ваш email" required>
						<button class="form__button form__button--subscription" type="submit">ПОДПИСАТЬСЯ</button>
					</div>
				</form>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link outline" href="">О нас</a>
					</li>

					<li class="footer__item">
						<a class="footer__link outline" href="">Оплата и доставка</a>
					</li>

					<li class="footer__item">
						<a class="footer__link outline" href="">Отзывы</a>
					</li>

					<li class="footer__item">
						<a class="footer__link outline" href="">Контакты</a>
					</li>

					<li class="footer__item">
						<a class="footer__link outline" href="">Вакансии</a>
					</li>

					<li class="footer__item">
						<a class="footer__link outline" href="">Новости</a>
					</li>

					<li class="footer__item">
						<a class="footer__link outline" href="">Публичная оферта</a>
					</li>

					<li class="footer__item">
						<a class="footer__link outline" href="">Акции</a>
					</li>
				</ul>

				<address class="footer__contacts">
					<span class="footer__contact">
						Горячая линия
						<a class="footer__tel" href="tel:+7907288365">+7 907 288 365</a>
					</span>

					<span class="footer__contact">
						Санкт-Петербург, ул. Ленина, 1
					</span>

					<ul class="footer__socials">
						<li class="footer__social">
							<a class="footer__social-link outline" href="#">
								<span class="sr-only">
									Facebook
								</span>
								<svg width="17" height="32" viewBox="0 0 17 32" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#footer--favicons--facebook"></use>
								</svg>
							</a>
						</li>

						<li class="footer__social">
							<a class="footer__social-link outline" href="#">
								<span class="sr-only">
									Youtube
								</span>
								<svg width="32" height="28" viewBox="0 0 32 28" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#footer--favicons--youtube"></use>
								</svg>
							</a>
						</li>

						<li class="footer__social">
							<a class="footer__social-link outline" href="#">
								<span class="sr-only">
									Telegram
								</span>
								<svg width="33" height="32" viewBox="0 0 33 32" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#footer--favicons--telegram"></use>
								</svg>
							</a>
						</li>

						<li class="footer__social">
							<a class="footer__social-link outline" href="#">
								<span class="sr-only">
									Instagram
								</span>
								<svg width="32" height="32" viewBox="0 0 32 32" fill="white" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="images/stack/sprite.svg#footer--favicons--instagram"></use>
								</svg>
							</a>
						</li>
					</ul>
				</address>
			</div>
		</div>
	</div>

	<div class="footer__row">
		<div class="container">
			<div class="footer__inner footer__inner--bottom ">
				<div class="footer__copyrite">
					© 2021 ФРЕШОК
				</div>
				<ul class="footer__payments">
					<li class="footer__payment">
						<svg width="93" height="29" viewBox="0 0 93 29" fill="white" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="images/stack/sprite.svg#footer--favicons--visa"></use>
						</svg>
					</li>
					<li class="footer__payment">
						<svg width="49" height="29" viewBox="0 0 49 29" fill="white" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="images/stack/sprite.svg#footer--favicons--mastercard"></use>
						</svg>

					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>