<header class="header">
	<nav class="header__top">
		<div class="container">
			<div class="header__inner">

				<button class="header__burger" data-action="toggleMenu">
					<span class="sr-only">Открыть меню</span>

					<svg width="30" height="20" data-action="toggleMenu">
						<use class="logo__use" xlink:href="images/stack/sprite.svg#header--burger2" data-action="toggleMenu">
						</use>
					</svg>
				</button>

				<ul class="header__support">
					<li class="header__contact">
						<a class="header__link header__link--image header__link--truck outline" href="#">
							<span class="header__link-text">Адрес и время доставки</span>
						</a>
					</li>

					<li class="header__contact">
						<a class="header__link header__link--image header__link--phone outline" href="#">
							<span class="header__link-text">Горячая линия 24/7</span>
						</a>
					</li>
				</ul>


				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a class="header__link outline" href="#">
							Доставка
						</a>
					</li>

					<li class="header__nav-item">
						<a class="header__link outline" href="#">
							О нас
						</a>
					</li>

					<li class="header__nav-item">
						<a class="header__link outline" href="#">
							Новости
						</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>

	<nav class="header__bottom">
		<div class="container">
			<nav class="header__inner">
				<a class="logo header__logo" href="#"> 
					<svg class="header__logo-svg" width="200" height="60">
						<use class="header__use" xlink:href="images/stack/sprite.svg#logo" role="img" aria-label="Логотип сайта">
						</use>
					</svg>

					<svg class="header__logo-svg--mobile" width="37" height="40">
						<use class="header__use" xlink:href="images/stack/sprite.svg#header--logo-short" role="img"
							aria-label="Логотип сайта">
						</use>
					</svg>
				</a>

				<div class="catalog header__catalog">
					<button class="catalog__button" type="button" data-action-id="toggleCatalog">Каталог продуктов</button>

					<ul class="catalog__menu catalog__menu--disable" data-action-id="">
						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Овощи и фрукты
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Молочные продукты
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Хлеб
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Мясо
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Колбаса
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Рыба
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Алкоголь
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Напитки
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Торты
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Мясо
							</a>
						</li>

						<li class="catalog__item">
							<a class="catalog__link" href="#">
								Чай, кофе
							</a>
						</li>

					</ul>
				</div>

				<form class="header__form form" data-action="insideSearch">
					<label class="sr-only" for="search">Поиск товара в магазине</label>
					<input class="form__input form__input--search" id="search" type="search" name="search"
						placeholder="Найти в магазине ..." required data-action="insideSearch">
					<button class="form__button form__button--mobile" type="submit" data-action="insideSearch">
						Поиск
					</button>
				</form>

				<ul class="header__user-nav">
					<li class="header__user-item">
						<button class="header__user-link header__user-link--search">
							<span class="sr-only">Показать форму</span>

							<svg class="header__svg" width="25" height="32" fill="white" xmlns="http://www.w3.org/2000/svg">
								<use xlink:href="images/stack/sprite.svg#global--search-s"></use>
							</svg>
						</button>
					</li>

					<li class="header__user-item header__user-item--person">
						<a class="header__user-link" href="#">
							<span class="header__user-text sr-only">
								Личный кабинет
							</span>
							<svg class="header__svg" width="25" height="32" viewBox="0 0 25 32" fill="white"
								xmlns="http://www.w3.org/2000/svg">
								<use xlink:href="images/stack/sprite.svg#header--user_fav"></use>
							</svg>

							<div class="header__notification header__notification--disabled">
								<span class="header__notification-count">0</span>
							</div>
						</a>
					</li>

					<li class="header__user-item">
						<a class="header__user-link" href="#">
							<span class="header__user-text sr-only">
								Избранное
							</span>
							<svg class="header__svg" width="32" height="29" viewBox="0 0 32 29" fill="white"
								xmlns="http://www.w3.org/2000/svg">
								<use xlink:href="images/stack/sprite.svg#global--heart"></use>
							</svg>

							<div class="header__notification">
								<span class="header__notification-count">12</span>
							</div>
						</a>
					</li>

					<li class="header__user-item" data-action="toggleCart">
						<a class="header__user-link header__user-link--cartlink" href="#" data-action="toggleCart">
							<span class="header__user-text sr-only">
								Корзина
							</span>
							<svg class="header__svg" width="32" height="31" viewBox="0 0 32 31" fill="white"
								xmlns="http://www.w3.org/2000/svg" data-action="toggleCart">
								<use xlink:href="images/stack/sprite.svg#header--cart-fav" data-action="toggleCart"></use>
							</svg>

							<div class="header__notification" data-action="toggleCart">
								<span class="header__notification-count" data-action="toggleCart">12</span>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</nav>
</header>