<aside class="menu menu--disable" data-action="toggleMenu">
	<div class="menu__top">
		<a class="menu__logo" href="#">
			<img src="images/favicons/menu/logo.svg" alt="Логотип сайта" width="200" height="60">
		</a>

		<button class="menu__close" data-action="toggleMenu" type="button">
			<span class="sr-only">Закрыть меню</span>
		</button>
	</div>

	<div class="menu__enter">
		<svg class="menu__svg" width="25" height="32" viewBox="0 0 25 32" fill="white" xmlns="http://www.w3.org/2000/svg">
			<use xlink:href="images/stack/sprite.svg#header--user_fav"></use>
		</svg>

		<a class="menu__login" href="#">
			Вход
		</a>

		<a class="menu__register" href="#">
			Регистрация
		</a>
	</div>

	<div class="menu__bottom">


		<a class="menu__catalog" href="#">Каталог товаров</a>

		<address class="menu__address">
			<a class="menu__contact menu__contact--tel" href="tel:+7907288365">
				+7 907 288 365
			</a>

			<a class="menu__contact menu__contact--place" href="#">
				Санкт-Петербург, ул. Ленина, 1
			</a>

			<ul class="menu__socials">
				<!-- <li class="menu__social">
					<a class="menu__social-link" href="#">
						<span class="sr-only">facebook</span>
					</a>
				</li> -->

				<li class="menu__social">
					<a class="menu__social-link outline" href="#">
						<span class="sr-only">
							Facebook
						</span>
						<svg width="17" height="32" viewBox="0 0 17 32" fill="white" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="images/stack/sprite.svg#footer--favicons--facebook"></use>
						</svg>
					</a>
				</li>

				<li class="menu__social">
					<a class="menu__social-link outline" href="#">
						<span class="sr-only">
							Youtube
						</span>
						<svg width="32" height="28" viewBox="0 0 32 28" fill="white" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="images/stack/sprite.svg#footer--favicons--youtube"></use>
						</svg>
					</a>
				</li>

				<li class="menu__social">
					<a class="menu__social-link outline" href="#">
						<span class="sr-only">
							Telegram
						</span>
						<svg width="33" height="32" viewBox="0 0 33 32" fill="white" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="images/stack/sprite.svg#footer--favicons--telegram"></use>
						</svg>
					</a>
				</li>

				<li class="menu__social">
					<a class="menu__social-link outline" href="#">
						<span class="sr-only">
							Instagram
						</span>
						<svg width="32" height="32" viewBox="0 0 32 32" fill="white" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="images/stack/sprite.svg#footer--favicons--instagram"></use>
						</svg>
					</a>
				</li>
			</ul>
		</address>

		<ul class="menu__list">
			<li class="menu__item">
				<a class="menu__link" href="#">
					Доставка
				</a>
			</li>

			<li class="menu__item">
				<a class="menu__link" href="#">
					О нас
				</a>
			</li>

			<li class="menu__item">
				<a class="menu__link" href="#">
					Новости
				</a>
			</li>

			<li class="menu__item">
				<a class="menu__link" href="#">
					Контакты
				</a>
			</li>

			<li class="menu__item">
				<a class="menu__link" href="#">
					Акции
				</a>
			</li>

			<li class="menu__item">
				<a class="menu__link" href="#">
					Вакансии
				</a>
			</li>

			<li class="menu__item">
				<a class="menu__link" href="#">
					Отзывы
				</a>
			</li>

			<li class="menu__item">
				<a class="menu__link" href="#">
					Публичная оферта
				</a>
			</li>
		</ul>

	</div>
</aside>