<section class="partners">
	<div class="container container--slider">
		<div class="partners__slider">
			<h2 class="sr-only">Наши бренды</h2>
			
			<ul class="partners__list">
				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/Sprite.svg" alt="Sprite">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/dr-pepper.svg" alt="dr-pepper">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/Coca.svg" alt="Coca">
					</a>
				</li>
				
				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/pepsi.svg" alt="Pepsi">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/redbull.svg" alt="redbull">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/fanta.svg" alt="fanta">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/pepsi.svg" alt="Pepsi">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/redbull.svg" alt="redbull">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/fanta.svg" alt="fanta">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/pepsi.svg" alt="Pepsi">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/redbull.svg" alt="redbull">
					</a>
				</li>

				<li class="partners__item">
					<a class="partners__link" href="#">
						<img class="partners__logo" src="images/images/partners/fanta.svg" alt="fanta">
					</a>
				</li>

			</ul>
		</div>

	</div>
</section>