<section class="product">
	<div class="container">
		<div class="product__inner">
			<div class="product__slider">
				<div class="product__wrapper">
					<div class="product__slide">
						<img src="../../images/goods/l/dragonfruit.jpg" width="420" height="420" alt="" class="product__slide-img"
							data-fancybox="gallery-1" data-src="../../images/goods/xl/dragonfruit.jpg">
					</div>

					<div class="product__slide">
						<img src="../../images/goods/l/dragonfruit.jpg" width="420" height="420" alt="" class="product__slide-img"
							data-fancybox="gallery-1" data-src="../../images/goods/xl/dragonfruit.jpg">
					</div>

					<div class="product__slide">
						<img src="../../images/goods/l/dragonfruit.jpg" width="420" height="420" alt="" class="product__slide-img"
							data-fancybox="gallery-1" data-src="../../images/goods/xl/dragonfruit.jpg">
					</div>
				</div>

				<button class="product__arrow product__arrow--prev" type="button">
					<span class="sr-only">Предыдущий
						слайд</span>
					<svg width="20" height="32" viewBox="0 0 20 32" fill="#505050" xmlns="http://www.w3.org/2000/svg">
						<use xlink:href="images/stack/sprite.svg#promo--arrow-left" data-action="toggleCart"></use>
					</svg>
				</button>

				<button class="product__arrow product__arrow--next" type="button">
					<span class="sr-only">Следующий
						слайд</span>
					<svg width="20" height="32" viewBox="0 0 20 32" fill="#505050" xmlns="http://www.w3.org/2000/svg">
						<use xlink:href="images/stack/sprite.svg#promo--arrow-right
						" data-action="toggleCart"></use>
					</svg>
				</button>

				<div class="product__button--prev"></div>
				<div class="product__button--next"></div>
			</div>


			<div class="product__description">
				<h2 class="product__title">Питахайя красная с белой мякотью</h2>

				<div class="product__badge product__badge--hit">Хит</div>

				<div class="product__info">
					<div class="product__key">Код: 01111111</div>
					<div class="product__rating">
						<svg class="product__svg" style="display: none;" width="16" height="16" viewBox="0 0 16 16" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<symbol id="star">
								<path class="svg__color"
									d="M0.0229731 6.16426C0.0780973 5.99454 0.224753 5.87085 0.401315 5.84523L5.36139 5.12445L7.57966 0.629872C7.6586 0.469872 7.82157 0.368591 7.99997 0.368591C8.17841 0.368591 8.34135 0.469872 8.42032 0.629872L10.6387 5.12445L15.5987 5.84523C15.7752 5.87085 15.9219 5.99454 15.977 6.16422C16.0322 6.33394 15.9862 6.52022 15.8584 6.64475L12.2694 10.1433L13.1165 15.0834C13.1467 15.2593 13.0744 15.4369 12.9301 15.5418C12.8484 15.6012 12.7517 15.6313 12.6545 15.6313C12.5799 15.6313 12.505 15.6136 12.4365 15.5775L8 13.2451L3.56374 15.5775C3.40577 15.6605 3.21443 15.6467 3.07009 15.5418C2.92574 15.4369 2.8534 15.2592 2.88356 15.0833L3.73096 10.1433L0.141566 6.64472C0.0138168 6.52022 -0.0322151 6.33394 0.0229731 6.16426Z"
									fill="#C1C1C1" fill-opacity="0.3" />
								<symbol>
						</svg>

						<fieldset class="rating" aria>
							<legend class="sr-only">Качество товара</legend>
					
							<input id="5" class="rating__input sr-only element" type="radio" name="quality" value="5">
							<label class="rating__label" for="5" class="rating__label element">
								<span class="rating__star">
									<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
										<use class="rating__color" xlink:href="#star"></use>
									</svg>
								</span>
							</label>
					
							<input id="4" class="rating__input sr-only element" type="radio" name="quality" value="4">
							<label class="rating__label" for="4" class="rating__label element">
								<span class="rating__star">
									<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
										<use class="rating__color" xlink:href="#star"></use>
									</svg>
								</span>
							</label>
					
							<input id="3" class="rating__input sr-only element" type="radio" name="quality" value="3">
							<label class="rating__label" for="3" class="rating__label element">
								<span class="rating__star">
									<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
										<use class="rating__color" xlink:href="#star"></use>
									</svg>
								</span>
							</label>
					
							<input id="2" class="rating__input sr-only element" type="radio" name="quality" value="2">
							<label class="rating__label" for="2" class="rating__label element">
								<span class="rating__star">
									<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
										<use class="rating__color" xlink:href="#star"></use>
									</svg>
								</span>
							</label>
					
							<input id="1" class="rating__input sr-only element" type="radio" name="quality" value="1">
							<label class="rating__label" for="1" class="rating__label element">
								<span class="rating__star">
									<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
										<use class="rating__color" xlink:href="#star"></use>
									</svg>
								</span>
							</label>
						</fieldset>
					</div>
					<div class="product__state product__state--instock">В наличии</div>
				</div>

				<div class="product__prices">
					<span class="product__price product__price--old">299 ₽</span>
					<span class="product__price">199 ₽ </span>
				</div>

				<form class="product__payment">
					<div class="product__control">
						<label class="sr-only" for="good-1">Количество товаров для добавления в корзину</label>

						<button class="product__btn product__btn--subtract" data-action="subtract" type="button">
							<span class="sr-only">Убрать товар</span>
						</button>

						<input class="product__input" name="good-count" type="text" id="good-1" value="0">

						<button class="product__btn product__btn--add" data-action="add" type="button">
							<span class="sr-only">Добавить товар</span>
						</button>
					</div>

					<button class="product__button button" type="submit">
						Добавить в корзину
					</button>

					<button class="product__favorites">
						<div class="sr-only">В избранное</div>
						<svg class="card__svg" width="39" height="45" viewBox="0 0 32 29" fill="#C1C1C1"
						xmlns="http://www.w3.org/2000/svg" data-action="toggleFavorite">
						<use xlink:href="images/stack/sprite.svg#global--heart"></use>
						</svg>
					</button>
				</form>

				<h3 class="product__delivery">Доставка и оплата</h3>
				<div class="product__information">
					Минимальная сумма заказа - 100 руб. <br>
					Время доставки заказа - 60-120 мин. <br>
					Оплата осуществляется только банковской картой. <br>
					Окончательная сумма заказа формируется после сбора товаров. <br>
				</div>

				<button class="product__more">Подробнее</button>

			</div>
		</div>

	</div>
</section>
<script src="js/product.js" type="module"></script>